<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinhai.hosp_new.mapper.RegisterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinhai.hosp_new.entity.Register">
        <id column="idregister" property="idregister" />
        <result column="department" property="department" />
        <result column="register_date" property="registerDate" />
        <result column="type" property="type" />
        <result column="doctor" property="doctor" />
    </resultMap>

</mapper>
